#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=ens33 --ipv6=auto --no-activate
network  --hostname=localhost.localdomain

# Root password
rootpw --iscrypted $6$7TK78BLahT3GdXF0$htjGvPtAahzuNc.MfOM9GBlMAjgnmzTvewJB8nPi.6j1w0HeUxCS2SCLBsnd8T3XN94o7j5W/RACHor0Ys8pG/
# System services
services --enabled="chronyd"
# System timezone
timezone America/Montevideo --isUtc --ntpservers=0.centos.pool.ntp.org,1.centos.pool.ntp.org,2.centos.pool.ntp.org,3.centos.pool.ntp.org,time.google.com
user --groups=wheel --name=admin --password=$6$.5RPoLeEm5q.ooIY$oyM1CkpNPu1J5y2xLnAsIGSMJVdpD7hX5JndN8bcZnpVGIvDApMP2LIQzWq36SiXKGPPXQsrZob3XtZMVmAx11 --iscrypted --gecos="admin"
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
# Partition clearing information
clearpart --none --initlabel
# Disk partitioning information
part /var --fstype="ext4" --ondisk=sda --size=4095
part swap --fstype="swap" --ondisk=sda --size=4096
part /boot --fstype="ext4" --ondisk=sda --size=1024
part /tmp --fstype="ext4" --ondisk=sda --size=1024
part /var/log --fstype="ext4" --ondisk=sda --size=2048
part / --fstype="ext4" --ondisk=sda --size=3072
part /var/lib/docker --fstype="ext4" --ondisk=sda --size=5000

%packages
@^minimal
@core
chrony
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
